.encabezado {
    background-color: #2196F3;
    border: 1px solid black;
    display: flex;
    margin:0 auto;
    flex-wrap: wrap;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
    }

    .categoria {
        text-align: center;
        background-color:aliceblue;
        border: 1px solid black;
        padding: 1px;
        width: 12%;
        height: 6%;
        margin: 3 184;
        font-size: 10px;
        position: relative;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
        margin-left: 15px;
        }
    
    .page-nav1 img{
    width: 48px;
    height: 60px;
    top: 5px;
    position: relative;
    float: left;
    }
    
    .page-nav h1 {
    margin: 20px;
    text-align: center;
    }
    
    .page-nav2 input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 500px;
    height: 30px;
    float: left;
    top: 20px;
    }

    
    .navegacion{
    width: 500px;
    height: 40px;
    position: relative;
    float: left;
    }
    
    .navegacion ul{
    list-style:none;
    }
    
    .menu > li{
    position: relative;
    display: inline-block;
    }
    
    .menu > li > a{
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open sans';
    }
    
    .menu li a:hover{
    color: #CE7D35;
    transition: all .3s;
    }
    
    .submenu{
    position: absolute;
    background: #333333;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    z-index: 1;
    
    }

    .submenu1{
        position: absolute;
        background: #333333;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1.5s;
        z-index: 1;
        }

    .submenu1 li a{
        display: block;
        padding: 15px;
        color: #fff;
        font-family: 'Open sans';
        text-decoration: none;
        }

    .submenu li:hover .submenu1{
    visibility: visible;
    opacity: 1;
    }


    .submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
    }
    
    .menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
    }

    

    .Empresa-pie{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        margin: auto;
        background-color: var(--dark);
        color:white;
        background-color:#353535;
        text-align: center;
        
    }

    .pie-pag{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        text-align: justify;
        gap: 300px;
        margin: 3px;
        padding: 40px;
        border-bottom: 2px solid #ffffff;
        font-size: medium;
    }

    .copyright-pag{
        padding: 10px;
        display: flex;
        flex-direction: wrap;
        justify-content: center;
        flex-direction: column;
    }
    .copyright{
        display: flex;
        flex-direction: wrap;
        justify-content: center;
        flex-direction: column;
    }

    .pie-pag-pag p:hover{
        opacity: 0.7;
    }


.page-content  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: left;
    padding: 20px;
    
}


.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.product-container img {
    width: 750px;
    height: 750px;
    position: relative;
    float: left;
}

.product-container2{
    margin-bottom: 10px;
    margin-left: 15px;
    position: relative;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.product-container2 .carac{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

tr{
    border: rgb(243, 195, 243) solid 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(234, 240, 241);
    border-bottom: 3px rgb(238, 240, 113);
    font-size: 100%;
    text-align: left;
}

td{
    border: black solid 1px;
    color: black;
    font-size: 140%;
    background-color: rgb(223, 219, 221);
    
}

td.resalt{

    color: black;
    font-size: 140%;
    background-color: white;
    font-weight: bolder;

}

.product-container3{
    margin-bottom: 10px;
    margin-left: 15px;
    position: relative;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    
}

.comentario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.comentario .seccion .seccion2{
    background: white;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border: .1rem solid rgb(105, 57, 238);
    box-shadow: 0.5rem 1rem gray;
    flex: 1 1 30rem;
    border-radius: .5rem;
    
}

.comentario .seccion .seccion2 .h3{
    color:aqua;
    font-size: 2rem;

}

.comentario .seccion .seccion2 .usuario .estrellita i{
    color: yellow;
    font-size: 1.5rem;
    padding: 1rem 0;
    
}
.comentario .seccion .seccion2 .texto{
    color: #666;
    font-size: 2rem;
    padding: 1rem;
}


@media screen and (max-width:1200px){

    
    
    .page-nav1 img{
        width: 48px;
        height: 60px;
        top: 5px;
        position: relative;
        float: left;
    }

    .page-nav2 input{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        width: 500px;
        height: 30px;
        float: left;
        top: 20px;
    }

    .navegacion{
        width: 730px;
        height: 40px;
        position: relative;
        float: left;
        }
    
        .Empresa-pie{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
            margin: auto;
            background-color: var(--dark);
            color:white;
            background-color:#353535;
            text-align: center;
            
        }
    
        .pie-pag{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            text-align: justify;
            gap: 200px;
            margin: 3px;
            padding: 40px;
            border-bottom: 2px solid #ffffff;
            font-size: medium;
            top: 300px;
        }
    
        .copyright-pag{
            padding: 10px;
            display: flex;
            flex-direction: wrap;
            justify-content: center;
            flex-direction: column;
            
        }
        .copyright{
            display: flex;
            flex-direction: wrap;
            justify-content: center;
            flex-direction: column;
            
        }
    
        .pie-pag-pag p:hover{
            opacity: 0.7;
            
        }

}

@media screen and (max-width:800px){
    .product-container img {
        width: 550px;
        height: 550px;
        position: relative;
        float: left;
    }
    
    .page-nav1 img{
        width: 48px;
        height: 60px;
        top: 5px;
        position: relative;
        float: left;
        }

    .page-nav2 input{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        width: 500px;
        height: 15px;
        float: left;
        top: 20px;
        
    }    

    .encabezado {
        background-color: #2196F3;
        border: 1px solid black;
        display: flex;
        margin:0 auto;
        flex-wrap: wrap;
        padding: 40px;
        width: 70%;
        margin:  auto;
        gap: 25px;
        }
    .navegacion{
        width: 480px;
        height: 40px;
        position: relative;
        float: left;
        
        }

        .Empresa-pie{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
            margin: auto;
            background-color: var(--dark);
            color:white;
            background-color:#353535;
            text-align: center;
            
            
        }
    
        .pie-pag{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            text-align: justify;
            gap: 70px;
            margin: 3px;
            padding: 40px;
            border-bottom: 2px solid #ffffff;
            font-size: medium;
            top: 100px;
        }
    
        .copyright-pag{
            padding: 10px;
            display: flex;
            flex-direction: wrap;
            justify-content: center;
            flex-direction: column;
        }
        .copyright{
            display: flex;
            flex-direction: wrap;
            justify-content: center;
            flex-direction: column;
        }
    
        .pie-pag-pag p:hover{
            opacity: 0.7;
        }    
        
}

@media screen and (max-width:600px){
    .product-container img {
        width: 400px;
        height: 400px;
        position: relative;
        float: left;
    }
    .page-nav1 img{
        width: 48px;
        height: 60px;
        top: 5px;
        position: relative;
        
        }

    .page-nav2 input{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        width: 500px;
        height: 15px;
        float: left;
        top: 20px;
        
    }    

    .encabezado {
        background-color: #2196F3;
        border: 1px solid black;
        display: flex;
        margin:0 auto;
        flex-wrap: wrap;
        padding: 30px;
        width: 70%;
        margin: 0 auto;
        gap: 20px;
        }

    .page-nav2 input{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        width: 300px;
        height: 20px;
        float: left;
        top: 20px;
        }

    .menu > li > a{
        padding: 1px 1px;
        color: #353535;
        font-family: 'Open sans';
        }

        .navegacion{
            width: 350px;
            height: 40px;
            position: relative;
            float: left;
            
            } 
            
            .Empresa-pie{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 100%;
                margin: auto;
                background-color: var(--dark);
                color:white;
                background-color:#353535;
                text-align: center;
                
            }
        
            .pie-pag{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                margin: auto;
                text-align: justify;
                gap: 40px;
                margin: 3px;
                padding: 40px;
                border-bottom: 2px solid #ffffff;
                font-size: medium;
            }
        
            .copyright-pag{
                padding: 10px;
                display: flex;
                flex-direction: wrap;
                justify-content: center;
                flex-direction: column;
            }
            .copyright{
                display: flex;
                flex-direction: wrap;
                justify-content: center;
                flex-direction: column;
            }
        
            .pie-pag-pag p:hover{
                opacity: 0.7;
            }            
        
}

@media screen and (max-width:450px){
    .product-container img {
        width: 250px;
        height: 250px;
        position: relative;
        float: left;
    }
    .page-nav1 img{
        width: 40px;
        height: 50px;
        top: 5px;
        position: relative;
        
        }

    .page-nav2 input{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        width: 500px;
        height: 15px;
        float: left;
        top: 20px;
        
    }    

    .encabezado {
        background-color: #2196F3;
        border: 1px solid black;
        display: flex;
        margin:0 auto;
        flex-wrap: wrap;
        padding: 30px;
        width: 70%;
        margin: 0 auto;
        gap: 20px;
        }

    .page-nav2 input{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        width: 300px;
        height: 20px;
        float: left;
        top: 20px;
        }

    .menu > li > a{
        padding: 1px 1px;
        color: #353535;
        font-family: 'Open sans';
        }

        .navegacion{
            width: 250px;
            height: 40px;
            position: relative;
            float: left;
        } 


        .Empresa-pie{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
            margin: auto;
            background-color: var(--dark);
            color:white;
            background-color:#353535;
            text-align: center;
            
        }
    
        .pie-pag{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            text-align: justify;
            gap: 10px;
            margin: 3px;
            padding: 40px;
            border-bottom: 2px solid #ffffff;
            font-size: medium;
        }
    
        .copyright-pag{
            padding: 10px;
            display: flex;
            flex-direction: wrap;
            justify-content: center;
            flex-direction: column;
        }
        .copyright{
            display: flex;
            flex-direction: wrap;
            justify-content: center;
            flex-direction: column;
        }
    
        .pie-pag-pag p:hover{
            opacity: 0.7;
        }

}

